/* SETUP */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --nav-bg: #33292a;
  --nav-color: #fff;
  --bg-color-1: #33292a;
  --bg-color-2: #644b4f;
  --bg-color-3: #333333;
  --bg-color-4: #f2f2f2;
  --link-color: #efa69d;
  --hover-color: #e9877b;
  --breakpoint: 768px;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

/* NAVIGATION */

.navigation {
  background-color: var(--nav-bg);
  font-weight: bold;
  font-size: 1.25em;
}
.navigation a {
  color: var(--nav-color);
  text-decoration: none;
}
.navigation a:hover {
  color: var(--hover-color);
}
.navigation-list {
  display: flex;
  justify-content: center;
}
.navigation-item {
  list-style-type: none;
  padding: 24px 36px;
}

@media (max-width: var(--breakpoint)) {
  .navigation {
  }
  .navigation-list {
  }
  .navigation-item {
  }
}

/* HERO */

.hero {
  background-image: url("./images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-container {
  height: 500px;
  position: relative;
}
.hero-text {
  position: absolute;
  right: 160px;
  bottom: 40px;
  color: var(--nav-color);
  font-weight: bold;
  font-size: 3em;
  text-align: right;
}
@media (max-width: var(--breakpoint)) {
  .hero {
  }
  .hero-container {
  }
  .hero-text {
  }
}

/* ABOUT US */
.about-us {
}
.about-us-container {
  display: flex;
  margin: 50px 200px;
}
.about-us-text {
  width: 50%;
  padding-right: 20px;
}
.about-us-img {
  width: 50%;
  padding-left: 20px;
}
.about-us-img img {
  width: 100%;
  max-width: 100%;
  min-width: 300px;
  height: auto;
  background-size: cover;
  background-position: center;
}

@media (max-width: var(--breakpoint)) {
  .about-us {
  }
  .about-us-container {
  }
  .about-us-text {
  }
  .about-us-img {
  }
}

/* WE DO */
.we-do {
  background-color: var(--bg-color-1);
  color: var(--nav-color);
  text-align: center;
  padding: 0px 100px;
}
.we-do h1 {
  padding-top: 75px;
  padding-bottom: 25px;
}
.we-do-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  flex-wrap: wrap;
}
.we-do-icon {
  width: 25%;
}
.we-do-icon img {
  margin-top: 10px;
  width: 50%;
  max-width: 100%;
}
.we-do-icon-text {
  margin-top: 10px;
  width: 25%;
}
